# Core Data Science & ML
numpy==2.2.6
pandas==2.3.3
scipy==1.15.3
scikit-learn==1.7.2
seaborn==0.13.2
matplotlib==3.10.8
joblib==1.5.3
threadpoolctl==3.6.0

# Jupyter & Interactive Environment
jupyterlab==4.5.5
notebook_shim==0.2.4
ipykernel==7.2.0
ipython==8.38.0
nbconvert==7.17.0
nbformat==5.10.4

# Utilities
requests==2.32.5
python-dateutil==2.9.0.post0
pytz==2022.1
PyYAML==6.0.1
Pillow==9.0.1
click==8.0.3
uv==0.11.3